@{
    ViewBag.Title = "Контакты";
}
<div class="contcentr" style="background:inherit;border:1px solid #fff;padding:5px 10px; margin-right:100px; margin-left:100px;">
    <h2>@ViewBag.Title.</h2>
    <h3>Казахский научно-исследовательский институт животноводства и кормопроизводства Министерства сельского хозяйства Республики Казахстан</h3>

    <address>
        Казахстан, Алматы, 050035, ул. Жандосова, д. 51<br />
        <abbr>Телефон:</abbr>
        8 (727) 303-63-33
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:bibliotekajik@mail.ru">bibliotekajik@mail.ru</a>,
        <a href="mailto:givotnovodstvo@mail.ru">givotnovodstvo@mail.ru</a><br />
    </address>
</div>