
@{
    ViewBag.Title = "Инструкция";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contcentr" style="background:inherit;border:1px solid #fff;padding:5px 10px; margin-right:100px; margin-left:100px;">
    <h2>Текстовая инструкция</h2>
    <a href="~/Pdf/Manual.pdf" target="_blank">Открыть</a>
</div>
<div class="contcentr" style="background:inherit;border:1px solid #fff;padding:5px 10px; margin-right:100px; margin-left:100px;">
    <h2>Пример по работе с картами</h2>
    <video controls="controls" style="width: 100%;">
        <source src="~/Video/Help.mp4" type="video/mp4" />
    </video>
</div>