
@{
    ViewBag.Title = "Email не подтвержден";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Email не подтвержден</h2>

<h4>Подтвердите свой email. Письмо для подтверждения отправлено на email, указанный при регистрации.</h4>